<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="Dikz Studios | Official Homepage">
    <meta name="description" content="Welcome to Dikz's official homepage. Dikz is an Artist, Youtuber and Coder. He lives in Raipur, Chhattisgarh. That's all I know about him. Connect with Dikz through these social links...">
    <meta name="keywords" content="dikz,dikzyt,youtube,hindi,rap,naruto,naruto hindi rap, death note, death note rap,rap revisits,raipur,dikz,dikshant,giri,goswami,dikshant giri,raipur,dikz youtube,dikz instagram,dikz facebook,dikz spotify,dikz youtube,dikz channel,dikz">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Adarsh Chakraborty">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JQuery  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Dikz Studios</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


</head>
<body class="bg-gray-300">
    <a name="dikz"></a>
    <!-- Navigation   -->
   <div class="flex flex-col md:flex-row items-center mt-8 relative">
     <div class="flex flex-col lg:flex-row items-center w-full  sm:ml-12 lg:ml-48 transform duration-200 ease-in hover:translate-y-1.5">
        <!-- transform transition-all duration-1000  hover:-rotate-360   -->
        <img class="w-36 rounded-full border-2 border-black" src="https://yt3.ggpht.com/ytc/AKedOLTm_z-Xee0V46d3LJSpShHeA9wIT8r8CfhVMKBwTw=s900-c-k-c0x00ffffff-no-rj" alt="dikz studios">
          <div class="flex flex-col p-2">
             <p class="border-b-2 border-red-300 text-2xl font-font_openSans">Dikz Studios<p/>
             <p class="text-sm ml-3 lg:ml-2 font-font_Roboto" id="subsCount"><p/>
          </div>
     </div> 

     <div class="p-2 sm:hidden absolute right-6 text-gray-700 cursor-pointer" id="toggle_menu">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
     </div>
        
   
    <nav class="hidden sm:block p-2 shadow-sm mr-1 lg:mr-4 xl:mr-16 2xl:mr-48 ">
        <ul class="flex flex-row justify-center bg-red-200 w-min h-full text-base xl:text-lg 2xl:text-xl font-font_Roboto min-w-max">
            <li class=" bg-red-300 rounded-l-md px-4 py-2 cursor-pointer"><a href="/">Home</a></li>
            <li class=" bg-red-100 px-4 py-2 cursor-pointer hover:bg-red-300 transform duration-500 ease-in-out"><a href="#latest">Latest</a></li>
            <li class=" bg-red-100 px-4 py-2 cursor-pointer hover:bg-red-300 transform duration-500 ease-in-out"><a href="#popular">Popular</a></li>
            <li class=" bg-red-100 px-4 py-2 cursor-pointer hover:bg-red-300 transform duration-500 ease-in-out"><a href="#social">Social</a></li>
            <a href="https://links.dikzstudios.gq/youtube" target="_blank"><li class=" bg-youtube px-4 py-2 cursor-pointer inline-flex rounded-r-md text-gray-800 transform duration-200 ease-in-out hover:scale-105 rounded-l"><img src="assets/ytsquare.svg" width="28px"><span class="pl-1">YouTube</span></li></a>
        </ul>
    </nav>
    <!-- Mobile Nav -->
    <div class="hidden sm:hidden mt-8 w-full px-12 text-lg font-RobotoSlab text-gray text-gray-800" id="mobile_nav">
        <ul class="flex flex-col pl-8 gap-y-1 p-3 border-t-2 border-b-2 border-red-300">
            <li class="flex space-x-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg><a href="/" target="_blank">Home</a></li>
            <li class="flex space-x-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg><a href="#latest">Latest</a></li>
            <li class="flex space-x-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
              </svg><a href="#popular">Popular</a></li>
            <li class="flex space-x-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg><a href="#social">Social</a></li>
            <li class="flex space-x-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-youtube inline" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
              </svg><a href="https://links.dikzstudios.gq/youtube" target="_blank">YouTube</a></li>
        </ul>
    </div>
   </div>
   </div>
   <!-- Navigation Ends Here -->
   <!-- Hero Section Starts -->
   <div class="flex flex-col sm:flex-row items-center text-center mt-8 xl:mt-16 2xl:mt-24 justify-center bg-gradient-to-r from-gray-300 via-bg-gray-400 to bg-gray-600">
    <!-- transform transition-all duration-200 ease-in-out hover:translate-x-5 -->
    <div class="relative sm:w-4/12 2xl:w-3/12">
        <img src="assets/dikz_himself.jpeg" alt="Dikz Himself" class="rounded shadow-lg object-cover object-center">
         <div class="w-full absolute bottom-0 text-base md:text-xl lg:text-2xl text-gray-200 p-2 bg-gray-800 bg-opacity-40 font-font_Roboto ">Dikshant Giri Goswami</div>
    </div>
    <!-- max-w-sm md:w-3/6 lg:w-2/6 xl:max-w-screen-2xl p-4 text-center -->
    <div class="max-w-sm sm:w-3/6 2xl:w-2/6 sm:max-w-full p-4 text-center">
        <Span class="text-gray-100 font-font_Roboto text-sm md:text-base">"Hello Guys, I am Dikshant Giri AKA Dikz. I am an Independent Artist From Chhattisgarh. I started my music journey From 2016. Till now i am learning, improving upgrading my self."<br /> 
        Thank You.</Span>
       
    </div>
   </div>

   <!-- Hero Section Ends  -->
    <!-- Stats  -->
    <div class="mt-12 text-xs sm:text-xl flex justify-around sm:justify-evenly text-gray-900 ">

        <div class="grid grid-flow-row grid-cols-3 gap-1">
            <div class="col-span-1 ">
                <svg class="h-5/6 text-gray-800 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                  </svg>
            </div>
            <div class="col-span-2 ml-2">
                <div class="flex flex-col font-RobotoSlab"><span class="text-lg sm:text-xl md:text-2xl" id="dikzUploads"></span><span>Uploads</span></div>              
            </div>
        </div>

        <!-- ------------- -->
        <div class=" grid grid-flow-row grid-cols-3 gap-1">
            <div class="col-span-1">
                <svg class="text-gray-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                  </svg>
            </div>
            <div class="col-span-2 ">
                <div class="flex flex-col  font-RobotoSlab"><span class="text-lg sm:text-xl md:text-2xl" id="dikzViews"></span><span>Total Views</span></div>
            </div>
        </div>

    </div>
   <!-- Latest Videos  -->
   <a name="latest"></a>
    <div class="mt-12 text-2xl pl-4 sm:pl-0 max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg mx-auto">
       <span class="border-b-2 border-red-300">Latest Uploads</span>
    </div>
   
   <div id="dikzlatest" class="grid grid-cols-1 gap-y-8 sm:grid-cols-2 xl:grid-cols-4 lg:gap-y-8 xl:gap-y-0 xl:grid-flow-row mt-12  xl:gap-28 2xl:gap-28 mx-auto max-w-screen-md  xl:max-w-screen-lg ">
   
    <img src="assets/loading.svg" class="-mt-10 w-24 2xl:w-28 p-2">
    <!-- Card Ends Here -->
   </div>
   <a name="popular"></a>
   <!-- Popular Uploads  -->
   <div class="mt-12 pl-4 sm:pl-0 text-2xl mx-auto max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg ">
    <span class="border-b-2 border-red-300">Popular Uploads</span>
    </div>

 
    

    <div id="dikzPopular" class="flex flex-col mt-12 p-2 bg-gradient-to-r from-gray-300 to-gray-100">
       <div class="flex justify-center items-center">
        <img src="assets/loading.svg" class="-mt-10 w-24 2xl:w-28 p-2 self-center">
        

       </div>
        
       
    </div>

    <!-- Popular Videos Section End  -->
    <a name="social"></a>
    <!-- Social  -->
    <div class="w-full h-auto text-center  text-gray-900 font-bold text-xl sm:text-2xl bg-gradient-to-b from-gray-300 via-gray-300 to-gray-400">
        <span class="uppercase text-xs m_320:text-lg m_375:text-xl sm:text-2xl text-gray-700">Connect with me<span class="hidden sm:inline"> on these Social links...</span></span>
        <div class="flex flex-col sm:flex-row justify-evenly items-center p-4">
            <div class="flex flex-row items-baseline sm:flex-col text-gray-700 gap-4">
                <a href="https://links.dikzstudios.gq/facebook"><i class="fa text-gray-700 hover:translate-x-2 transform duration-200 ease-in-out cursor-pointer"><img class="inline" src="assets/fb.svg" width="20px"/> <span class="hidden sm:inline"></span>Facebook</i></a>
                <a href="https://links.dikzstudios.gq/instagram"><i class="fa fa-instagram hover:translate-x-2 transform duration-200 ease-in-out cursor-pointer"> Instagram</i></a>
                <a href="https://links.dikzstudios.gq/spotify"><i class="fa fa-spotify hover:translate-x-2 transform duration-200 ease-in-out cursor-pointer"> Spotify</i></a> 
                <a href="https://links.dikzstudios.gq/twitter"><i class="fa fa-twitter hover:translate-x-2 transform duration-200 ease-in-out cursor-pointer"> Twitter</i></a> 
            </div>
            
            <form action="https://api.dikzstudios.gq/api/contact" method="POST">
                <div class="mt-8 sm:mt-0 border-gray-200 flex flex-col text-grey-darkest ">
                    <input name="name" type="text" class="w-72 rounded focus:border-gray-500 focus:ring-gray-600" placeholder="Enter Name.."  required>
                    <input name="email" type="email" class="mt-4 w-72 rounded focus:border-gray-500 focus:ring-gray-600" placeholder="E-mail.."  required>
                    <textarea name="message" class="mt-4 w-72 rounded focus:border-gray-500 focus:ring-gray-600" placeholder="Message..." required></textarea>
                    <button class="text-gray-100 bg-gray-600 mt-4 rounded py-2 px-1 uppercase focus:border-gray-500 focus:ring-gray-600 transform duration-150 ease-in-out hover:bg-gray-700 hover:-translate-y-px font-font_openSans" type="submit">Submit</button>
                  

                    
                
                </div>
            </form>

        </div>
    </div>

        
   
   
   


    <div class="absolute max-h-screen right-4 md:right-8 text-gray-300 mt-0 m_480:text-gray-600 m_480:-mt-8 p-2"><a href="#dikz"><svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 animate-bounce cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11l7-7 7 7M5 19l7-7 7 7" />
      </svg></a></div>
    <footer class="bg-gray-500 text-gray-200 text-center p-2 font-font_Roboto">&copy; 2021. Dikz Studios.</footer>
    
    <!-- Javascript -->
    <script src="js/main.js"></script>
</body>
</html>