<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Dikz Studios</title>
</head>
<body class="bg-gray-300">
    
    <!-- Navigation   -->
   <div class="flex items-center mt-4">
     <div class="flex items-center w-full ml-48">
           <img class="w-36 rounded-full border-2 border-black" src="https://yt3.ggpht.com/ytc/AKedOLTm_z-Xee0V46d3LJSpShHeA9wIT8r8CfhVMKBwTw=s900-c-k-c0x00ffffff-no-rj" alt="dikz studios">
          <div class="flex flex-col p-2">
             <p class="border-b-2 border-red-200 text-2xl">Dikz Studios<p/>
             <p class="text-sm ml-2">4070 subscribers<p/>
          </div>
     </div> 
        
   <div>
    <nav class="p-2 shadow-sm mr-48">
        <ul class="flex bg-red-200 rounded-full w-min h-full text-xl">
            <li class=" bg-red-300 rounded-md px-4 py-2 cursor-pointer">Home</li>
            <li class=" bg-red-100 px-4 py-2 cursor-pointer hover:bg-red-300 rounded-md">Latest</li>
            <li class=" bg-red-100 px-4 py-2 cursor-pointer hover:bg-red-300">Popular</li>
            <li class=" bg-red-100 px-4 py-2 cursor-pointer">Social</li>
            <li class=" bg-red-100 px-4 py-2 cursor-pointer">YouTube</li>
        </ul>
    </nav>
   </div>
   </div>
   <!-- Navigation Ends Here -->
   <!-- Hero Section Starts -->
   <div class="flex items-center text-center mt-24 justify-center bg-gradient-to-r from-gray-300 via-bg-gray-400 to bg-gray-600">
    <img src="assets/dikz_himself.jpeg" alt="Dikz Himself" class="w-3/12 rounded shadow-lg">
    <div class="w-2/6 p-4 text-center">
        <Span class="text-gray-100">"Hello Guys, I am Dikshant Giri AKA Dikz. I am an Independent Artist From Chhattisgarh. I started my music journey From 2016. Till now i am learning, improving upgrading my self."<br /> 
        Thank You.</Span>
    </div>
   </div>

   <!-- Hero Section Ends  -->
   <!-- Latest Videos  -->

    <div class="text-justify mt-12 ml-48 text-2xl">
       <span class="border-b-2 border-red-300">Latest Uploads</span>
    </div>
   
   <div class="container mx-auto pl-36 grid grid-cols-3 md:grid-cols-4 grid-flow-row mt-12">
    <div class="bg-white w-min overflow-hidden rounded-xl">
        <div class="w-64">
            <img class="" src="https://i.ytimg.com/vi/i0imqI_sLf8/maxresdefault.jpg" alt="Video Latest upload">
        </div>
        <!-- Video Title & Duration  -->
        <div class="underline p-2 text-justify">
           <span>Video Title Here</span>
        </div> 
    </div>

    <div class="bg-white w-min overflow-hidden rounded-xl">
        <div class="w-64">
            <img class="" src="https://i.ytimg.com/vi/i0imqI_sLf8/maxresdefault.jpg" alt="Video Latest upload">
        </div>
        <!-- Video Title & Duration  -->
        <div class="underline p-2 text-justify">
           <span>Video Title Here</span>
        </div>
    </div>

    <div class="bg-white w-min overflow-hidden rounded-xl">
        <div class="w-64">
            <img class="" src="https://i.ytimg.com/vi/i0imqI_sLf8/maxresdefault.jpg" alt="Video Latest upload">
        </div>
        <!-- Video Title & Duration  -->
        <div class="underline p-2 text-justify">
           <span>Video Title Here</span>
        </div>
    </div>
    <div class="bg-white w-min overflow-hidden rounded-xl">
        <div class="w-64">
            <img class="" src="https://i.ytimg.com/vi/i0imqI_sLf8/maxresdefault.jpg" alt="Video Latest upload">
        </div>
        <!-- Video Title & Duration  -->
        <div class="underline p-2 text-justify">
           <span>Video Title Here</span>
        </div>
    </div>
    <!-- Card Ends Here -->
   </div>

  
   <!-- Popular Uploads  -->
   <div class="text-justify mt-12 ml-48 text-2xl">
    <span class="border-b-2 border-red-300">Popular Uploads</span>
    </div>

 
    

    <div class="flex flex-col mt-12 p-4 bg-gradient-to-r from-gray-300 to-gray-100">
        <!-- Card  -->
        <div class="flex justify-center items-center ">
            <div class="w-64 rounded-xl overflow-hidden">
                <img src="https://i.ytimg.com/vi/i0imqI_sLf8/maxresdefault.jpg" alt="Thumbnail">
            </div>
            <div class="p-2 w-2/4 mx-4">
                <Strong class="block">Long ass video Title Here</Strong>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus sit dicta, eum ipsam dolorem neque deleniti tenetur incidunt praesentium aut recusandae ullam qui illo doloribus, cupiditate iure quae facilis autem!</span>
               <span class="block mt-2"><img src="assets/views_svg.svg" width="24px" class="inline-block"> 44,000 Views</Span>
                <img src="https://img.icons8.com/flat-round/50/000000/hearts.png" width="24px" class="inline"/><span class="inline">1000 Likes</span>
            </div>
        </div>
        <!-- Card End  -->
        <br>
         <!-- Card  -->
         <div class="flex justify-center items-center ">
            <div class="w-64 rounded-xl overflow-hidden">
                <img src="https://i.ytimg.com/vi/i0imqI_sLf8/maxresdefault.jpg" alt="Thumbnail">
            </div>
            <div class="p-2 w-2/4 mx-4">
                <Strong class="block">Long ass video Title Here</Strong>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus sit dicta, eum ipsam dolorem neque deleniti tenetur incidunt praesentium aut recusandae ullam qui illo doloribus, cupiditate iure quae facilis autem!</span>
               <span class="block mt-2"><img src="assets/views_svg.svg" width="24px" class="inline-block"> 44,000 Views</Span>
                <img src="https://img.icons8.com/flat-round/50/000000/hearts.png" width="24px" class="inline"/><span class="inline">1000 Likes</span>
            </div>
        </div>
        <!-- Card End  -->
        <br>
        <!-- Card  -->
        <div class="flex justify-center items-center ">
            <div class="w-64 rounded-xl overflow-hidden">
                <img src="https://i.ytimg.com/vi/i0imqI_sLf8/maxresdefault.jpg" alt="Thumbnail">
            </div>
            <div class="p-2 w-2/4 mx-4">
                <Strong class="block">Long ass video Title Here</Strong>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus sit dicta, eum ipsam dolorem neque deleniti tenetur incidunt praesentium aut recusandae ullam qui illo doloribus, cupiditate iure quae facilis autem!</span>
               <span class="block mt-2"><img src="assets/views_svg.svg" width="24px" class="inline-block"> 44,000 Views</Span>
                <img src="https://img.icons8.com/flat-round/50/000000/hearts.png" width="24px" class="inline"/><span class="inline">1000 Likes</span>
            </div>
        </div>
        <!-- Card End  -->
        <br>
         <!-- Card  -->
         <div class="flex justify-center items-center ">
            <div class="w-64 rounded-xl overflow-hidden">
                <img src="https://i.ytimg.com/vi/i0imqI_sLf8/maxresdefault.jpg" alt="Thumbnail">
            </div>
            <div class="p-2 w-2/4 mx-4">
                <Strong class="block">Long ass video Title Here</Strong>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus sit dicta, eum ipsam dolorem neque deleniti tenetur incidunt praesentium aut recusandae ullam qui illo doloribus, cupiditate iure quae facilis autem!</span>
               <span class="block mt-2"><img src="assets/views_svg.svg" width="24px" class="inline-block"> 44,000 Views</Span>
                <img src="https://img.icons8.com/flat-round/50/000000/hearts.png" width="24px" class="inline"/><span class="inline">1000 Likes</span>
            </div>
        </div>
        <!-- Card End  -->
       
    </div>

    <!-- Popular Videos Section End  -->

    <!-- Social  -->
    <div class="w-full h-auto text-center  text-black font-bold text-2xl bg-gradient-to-b from-gray-300 via-gray-300 to-gray-400">
        <span class="uppercase ">Connect with me on these Social links...</span>
        <div class="flex flex-row justify-evenly items-center p-4">
            <div class="flex flex-col items-start text-gray-700 gap-4">
                <i class="fa fa-instagram"> Instagram</i> 
                <i class="fa fa-facebook"> Facebook</i> 
                <i class="fa fa-whatsapp"> WhatsApp</i> 
                <i class="fa fa-twitter"> Twitter</i> 
            </div>

            <form class="">
                <div class="text-grey-darkest ">
                    
                    <input type="text" class="max-w-6xl" >

                    
                
                </div>
            </form>

        </div>
    </div>

        
   
   
   


    
    <footer class="bg-gray-500 text-gray-200 text-center p-2">&copy; 2021. Dikz Studios</footer>
</body>
</html>